* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7f5;
    color: #333;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #087f3f, #16a34a);
    color: white;
    text-align: center;
    padding: 25px 15px;
}

header .container {
    max-width: 1100px;
    margin: auto;
}

header img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

header h1 {
    font-size: 28px;
    margin-bottom: 8px;
    line-height: 1.3
    
}

header p {
    font-size: 17px;
}

nav {
    background: #075c2f;
    text-align: center;
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd700;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

section {
    background: white;
    margin: 25px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

section h2 {
    color: #087f3f;
    text-align: center;
    margin-bottom: 20px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #ffffff, #e9f8ef);
}

.hero h1 {
    color: #075c2f;
    font-size: 32px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.hero p {
    font-size: 19px;
    color: #555;
}

.card {
    background: #f8fff9;
    padding: 20px;
    margin: 15px 0;
    border-left: 5px solid #16a34a;
    border-radius: 10px;
}

footer {
    background: #075c2f;
    color: white;
    text-align: center;
    padding: 25px 15px;
    margin-top: 40px;
}

footer p {
    margin: 5px;
}

@media (max-width: 768px) {

    header h1 {
        font-size: 23px;
    }

    header p {
        font-size: 14px;
    }

    nav a {
        display: inline-block;
        margin: 5px 8px;
        font-size: 14px;
    }

    .hero h1 {
        font-size: 27px;
    }

    section {
        padding: 20px;
    }
}
